.chart {
  position: relative;
  /*border: 1px solid #888;*/
  /*background: #292929;*/
}

.chart .data-card {
  position: absolute;
  top: -100px;
  min-width: 80px;
  background: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.8);
  border-radius: 5px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
